.bg-light {
    background-color: #f4f6f8 !important;
}.mb-4 {
    margin-bottom: 1.5rem !important;
}h4, .h4 {
    font-size: 1.5rem;
}.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
    padding-bottom: 20px;
}.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}.col-lg-6 {
    width: 46%;
    padding: 10px;
}.bg-white {
    background-color: #fff !important;
}.rounded {
    border-radius: 10px !important;
}.bg-white {
    background-color: #fff !important;
}
.p-3 {
    padding: 1rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}.ms-3 {
    margin-left: 1rem !important;
}.mb-0 {
    margin-bottom: 0 !important;
}
.me-3 {
    margin-right: 1rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}.bg-light.rounded.my-4.p-4 {
    padding-left: 26px;
}
.w-97{
    width: 97% !important;
}.acc-bgcl {
    background-color: #fff;
    border-radius: 20px;
    padding-right: 19px;
}

.cs-txt-and-img .cs-img-left {
    float: left;
    margin-right: 20px;
    max-width: 396px;
    width: 50vw;
}

.cs-txt-and-img .cs-img-right {
    float: right;
    margin-left: 20px;
    max-width: 396px;
    width: 50vw;
}

.cs-txt-and-img img {
    height: auto;
    width: 100%;
}